@{
    ViewBag.Title = "Concesoft";
}

<div class="row">
    <div class="col-md-12">
        <img class="slideFotos" id="inicio" src="~/Recursos/Carro1.jpg" />
    </div>
    <div class="col-md-12">
        <img class="slideFotos" src="~/Recursos/Carro2.jpg" />
    </div>
    <div class="col-md-12">
        <img class="slideFotos" src="~/Recursos/Carro3.jpg" />
    </div>
    <div class="col-md-12">
        <img class="slideFotos" src="~/Recursos/Carro4.jpg" />
    </div>
</div>